/* 
CSS STYLES RESET: The following block of code is being used to remove all styles from our html in order to minimize contradiction and ease of understanding the applied styles.
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  */


/* 
GLOBAL STYLES: This block of css code contains the styles for all the html files i.e. global styles, these styles will be applied to every web page that contain the corresponding html tags.
*/
ul li{
	list-style-type: none;
	display: inline;
	flex-wrap: wrap;
}

body{
	background-image: url("/images/pink-background.jpg");
	background-repeat: no-repeat;
	background-size: auto;
}



/* 
HOMEPAGE STYLES: This block of css code contains the styles exclusively to the homepage.html webpage.
*/



/* 
MENU PAGE STYLES: This block of css code contains the styles exclusively to the menu.html webpage.
*/



/* 
EVENTS PAGE STYLES: This block of css code contains the styles exclusively to the events.html webpage.
*/